footer {
  text-align: center;
}
#title-bar {
  padding: 0 10px;
}
/********************************************************************
 *   UNimportant convenience CSS
 */
.mapwrapper {
  background: #ccf;
}
.content {
  background: #ddd;
}
/********************************************************************
 *   IMPORTANT layout CSS
 */
header.jumbotron {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.contentwrapper {
  position: relative;
  margin: 0 auto;
  transition: all 1s;
  /* height is set in js to fill the browser window */

}
.contentwrapper.map-inactive {
  width: 800px;
}
.contentwrapper.map-active {
  width: 100%;
}
.content {
  float: right;
  width: 700px;
}
.mapwrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 700px;
  overflow: hidden;
}
.map {
  height: 100%;
}
.content {
  background-color: #ffffff;
  padding-right: 33.333333333333336px;
}
/********************************************************************
 *   IMPORTANT map prettiness CSS
 */
.mapnotch {
  position: absolute;
  box-sizing: content-box;
  height: 66.66666666666667px;
  width: 33.333333333333336px;
  bottom: 50%;
  right: -33.333333333333336px;
  border: 33.333333333333336px solid #ffffff;
  border-left-width: 0;
  border-top-right-radius: 66.66666666666667px;
  border-bottom-right-radius: 66.66666666666667px;
}
.mapnotch:before,
.mapnotch:after {
  position: absolute;
  left: 0;
  content: '';
  width: 33.333333333333336px;
  height: 100vh;
  background-color: #ffffff;
}
.mapnotch:before {
  bottom: 67px;
}
.mapnotch:after {
  top: 67px;
}
.leaflet-right {
  right: 33.333333333333336px;
}
.map-inactive .leaflet-control-container {
  display: none;
}
