
////////////////////////////////////////////// some unimportant stuff
footer {
    text-align: center;
}

#title-bar {
    padding: 0 10px;
}

/////////////////////////////////////////////////// all the LESS vars
@result-column-width: 700px;
@inactive-map-width: 75px;
@map-notch-width: ceil(@inactive-map-width / 3);
@content-bg: #fff;

/////////////////////////////////////////////// various page elements
/* adjust header to be a bit slimmer */
header.jumbotron {
    margin-bottom: 0;
    padding-bottom: 10px;
}

/////////////////////////////////////////////// map-and-column layout
/* contentwrapper surrounds the map and the content */
.contentwrapper {
    position: relative;
    margin: 0 auto;
    transition: all 1s;
    /* height is set in js to fill the browser window */
}

/* the contentwrapper has an additional class that determines
   whether the map is showing or not */
.contentwrapper.map-inactive {
    width: (@result-column-width + @inactive-map-width);
}
.contentwrapper.map-active {
    width: 100%;
}

/* the content has a fixed width */
.content {
    float: right;
    /* TODO: this bit should be responsive */
    width: @result-column-width;
}

/* the map lives inside this wrapper which stays in a
   fixed position relative to the contentwrapper */
.mapwrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: @result-column-width;
    overflow: hidden;
    transition: opacity 0.66s;
}

.map { height: 100%; }

.map-inactive .mapwrapper {
    opacity: 0.33;
}

.map-active .mapwrapper {
    opacity: 1;
}

/* the content is the search form and results */
.content {
    background-color: @content-bg;
    padding-right: @map-notch-width;
    // ...
}

/////////////////////////////////////////////////////// the map notch
//
// The notch is an element with a transparent background and a
// fat, rounded white border.  This means it's basically the right
// half of a white donut.
//
// Above and below the donut I've added additional white rectangles
// using :before and :after pseudoelements.
// The donut and the rectangles cover up a strip on the right edge
// of the map, from top to bottom.  The only bit of the map that
// shows through is the hole in middle of the donut.
//
//           width is set by the LESS
//            variable @map-notch-width
//                   \----\
//
//                     .----.
//                      \    \  top rectangle covering up
// .---------------------\--. \  covers the upper part of the
//  \                     \  \ \  map's right edge
//   \                     \  \ \
//    \    the              '----'
//     \      map              #\###   donut reveals a semicircle
//      \                        \ ###  of the map's right edge
//       \                       #\###
//        \                     .----.
//         \                     \  \ \
//          \                     \  \ \ bottom rectangle covering
//           \                     \  \ \ the lower part of the
//            \                     \  \ \ map's right edge
//             \                     '----'
//              \                        \
//               '------------------------'
//
// The Donut looks like this. Note that a lot of the donut doesn't
// show up on screen; the donut is just there so its inner ring
// can give the map "notch" its concave shape.
// The visible bits are rendered below using #; the bits drawn using
// % are not visible.
//
//                  width = w
//             .---------------.
//             :               :
//         .-  %%%%%%%%%%%%%%% :
//  border |   %%%%%%%%%%%%%%%%%%%%%
//   width |   %%%%%%%%%%%%%%%%:%%%%%%%%
//     = w |   %%%%%%%%%%%%%%%%%%%%%%%%%%%%
//         |   %%%%%%%%%%%%%%%%:%%%%%%%%%%%%%
//         |   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
//         '-  #################%%-%%-%%-%%-%%-  -  -.
//                     #########%%%%%%%%%%%%%%%%     |
//                         #####%%%%%%%%%%%%%%%%     |
//                           ###%%%%%%%%%%%%%%%%%    |
//                            ##%%%%%%%%%%%%%%%%%    | height = 2w
//                             #%%%%%%%%%%%%%%%%%    |
//             \  border       #%%%%%%%%%%%%%%%%%    |
//              \ radius      ##%%%%%%%%%%%%%%%%%    |
//               \  = 2w     ###%%%%%%%%%%%%%%%%%    |
//                \        #####%%%%%%%%%%%%%%%%     |
//                 \   #########%%%%%%%%%%%%%%%%     |
//             #####\###########%%-%%-%%-%%-%%-  -  -'
//             .-----\---------.%%%%%%%%%%%%%%
//             |%%%%%%\%%%%%%%%|%%%%%%%%%%%%
//             |%%%%%%%\%%%%%%%|%%%%%%%%%%%
//             |%%%%%%%%\%%%%%%|%%%%%%%%
//             |%%%%%%%%%\%%%%%|%%%%
//             |%%%%%%%%%%\%%% |
//             |               |
//             | this is where |
//             |  the bottom   |
//             | rectangle is  |
//             :  positioned.  :
//             .(top rectangle .
//              is similar but
//               not drawn in
//               this diagram)
//
.mapnotch {
    position: absolute;
    box-sizing: content-box;
    height: (2 * @map-notch-width);
    width: @map-notch-width;
    bottom: 50%;
    right: (-1 * @map-notch-width);
    border: @map-notch-width solid @content-bg;
    border-left-width: 0;
    border-top-right-radius: (2 * @map-notch-width);
    border-bottom-right-radius: (2 * @map-notch-width);
    border-right-color: #feffff; // fixes a weird safari bug
}
// the upper and lower rectangles
.mapnotch:before, .mapnotch:after {
    position: absolute;
    left: 0;
    content: '';
    width: (@map-notch-width + 1px);
    height: 100vh;
    background-color: @content-bg;
}
.mapnotch:before { bottom: (2 * @map-notch-width); }
.mapnotch:after  { top:    (2 * @map-notch-width); }

/* adjust leaflet's components to avoid drawing stuff like the
   attribution text under the covered-up right edge strip */
.leaflet-right { right: @map-notch-width; }
.map-inactive .leaflet-control-container { display: none; }

///////////////////////////////////////////////////////// search form
